/* You can add global styles to this file, and also import other style files */
/* Reset margin and padding for a consistent layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.header, .body, .footer {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
